<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DoenaSoft.DVDP_MyPlugin.MPsettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DoenaSoft.DVDP_MyPlugin.MPsettings>
            <setting name="TheStuff" serializeAs="String">
                <value>Test123</value>
            </setting>
        </DoenaSoft.DVDP_MyPlugin.MPsettings>
    </userSettings>
</configuration>